# GCP Environment Settings
GOOGLE_CLOUD_PROJECT=vertex-security-4f90bf
GOOGLE_CLOUD_LOCATION=us-central1
GOOGLE_CLOUD_PROJECT_NUMBER=9876543210
ORGANIZATION_ID=72121081590
GOOGLE_CLOUD_BUCKET=gs://vertex-security-4f90bf-staging

# Microsoft Entra ID & Azure Settings
AZURE_TENANT_ID=your-entra-tenant-id-guid
AZURE_CLIENT_ID=your-entra-client-id-guid
AZURE_KEY_VAULT_NAME=your-azure-key-vault-name
