# GCP Environment Settings
GOOGLE_CLOUD_PROJECT=your-gcp-project-id
GOOGLE_CLOUD_LOCATION=your-gcp-location-region
GOOGLE_CLOUD_PROJECT_NUMBER=your-gcp-project-number
ORGANIZATION_ID=your-gcp-organization-id
GOOGLE_CLOUD_BUCKET=gs://your-gcp-staging-bucket-name

# Microsoft Entra ID & Azure Settings
AZURE_TENANT_ID=your-entra-tenant-id-guid
AZURE_CLIENT_ID=your-entra-client-id-guid
AZURE_SUBSCRIPTION_ID=your-azure-subscription-id
AZURE_RESOURCE_GROUP=your-azure-resource-group
AZURE_VM_NAME=your-azure-vm-name
